.container{
    width: 100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6982ae;
}
.loginbox{
    width:clamp(400px,40vw,900px);
    padding:20px;
    min-height: 400px;
    background-color: #01161E;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loginboxcontainer{
    flex:2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.username{
    display: flex;
    justify-content: center;
    padding:10px;
}
.password{
    display: flex;
    justify-content: center;
    padding:10px;
}
.header{
    flex:1;
    font-size:20px;
    display: flex;
    align-items: flex-end;
}
.headertext{
    color:rgb(232, 232, 232);
    flex:1;
    font-size:20px;
    display: flex;
    align-items: flex-end;
}
.loginButton{
    outline:none;
    border: none;
    background-color: #124559;
    color:rgb(232, 232, 232);
    font-size:20px;
    font-weight: 400;
    width: 80%;
    height:40px;
    border-radius: 10px;
}
.loginButton:active,
.loginButton:focus{
    background-color: #305462;
}
.loginButton:hover{
    cursor: pointer;
    background-color: #305462
}
.loginbuttoncontainer{
    display: flex;
    justify-content: center;
    padding:10px;
}
.usereingabe{
    flex:3;
    width: clamp(300px,90%,400px);
}

@media only screen and (max-width:600px) {
    .header{
        display:none;
    }
    .loginboxcontainer{
        height:fit-content;
        width: fit-content;
    }
    .loginbox{
        height: 100vh;
        width: 100vw;
        padding:0;
        border-radius: 0;
    }
    .usereingabe{
        flex:2
    }
}