.container{
    width: 100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fbfbfa;
}
.loginbox{
    width:clamp(400px,40vw,900px);
    padding:20px;
    min-height: 400px;
    background-color: #598392;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loginboxcontainer{
    flex:2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.username{
    display: flex;
    justify-content: center;
    padding:10px;
}
.password{
    display: flex;
    justify-content: center;
    padding:10px;
}
.header{
    flex:1;
    font-size:20px;
    display: flex;
    align-items: flex-end;
}
.headertext{
    color:#01161E;
    flex:1;
    font-size:20px;
    display: flex;
    align-items: flex-end;
}
.loginButton{
    outline:none;
    border: none;
    background-color: #01161E;
    color:white;
    font-size:20px;
    font-weight: 400;
    width: 80%;
    height:40px;
    border-radius: 10px;
}
.loginButton:hover{
    cursor: pointer;
}
.loginbuttoncontainer{
    display: flex;
    justify-content: center;
    padding:10px;
}
.usereingabe{
    flex:3;
    width: clamp(300px,90%,400px);
}
.divider{
    height:1px;
    width: stretch;
    background-color: rgba(232, 232, 232, 0.584);
    margin:10px;
}