.container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	padding: 20px;
	box-sizing: border-box;
	flex-direction: column;
	background-color: #dadddf;
	place-items: center;
}
.container > *:nth-child(1) {
	height: 100%;
	width: 100%;
	border-radius: 10px;
}
.design {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}
.design > img {
	max-width: 90%;
}
.loginbox {
	width: clamp(400px, 40vw, 900px);
	min-height: 400px;
	display: flex;
	border-radius: 15px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.loginboxcontainer {
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.username {
	display: flex;
	justify-content: center;
	padding: 10px;
}
.password {
	display: flex;
	justify-content: center;
	padding: 10px;
}
.header {
	flex: 1;
	font-size: 20px;
	display: flex;
	align-items: flex-end;
}
.rememberMe {
	padding: 10px;
	display: flex;
	align-items: center;
}
.rememberMe > *:nth-child(1) {
	flex: 1;
}
.logineye {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.rememberMe > *:nth-child(2):hover {
	color: rgb(123, 123, 123);
}

.rememberMe > *:nth-child(2) {
	cursor: pointer;
}
.headertext {
	flex: 1;
	font-size: xx-large;
	font-weight: "700";
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	padding: 10px;
}
.headertext > div {
	font-size: medium;
	font-weight: "300";
}
.loginButton {
	outline: none;
	border: none;
	background-color: #124559;
	color: rgb(232, 232, 232);
	font-size: 20px;
	font-weight: 400;
	width: 100%;
	height: 50px;
	border-radius: 10px;
}
.loginButton:active,
.loginButton:focus {
	background-color: #305462;
}
.loginButton:hover {
	cursor: pointer;
	background-color: #305462;
}
.loginbuttoncontainer {
	display: flex;
	justify-content: center;
	padding: 10px;
	box-sizing: border-box;
}
.usereingabe {
	padding-top: 50px;
	flex: 3;
	width: 100%;
	display: flex;
	gap: 10px;
	flex-direction: column;
}

@media only screen and (max-width: 800px) {
	.container {
		grid-template-columns: 1fr;
	}
	.design {
		display: none;
	}
	.header {
		display: none;
	}
	.loginboxcontainer {
	}
	.loginbox {
		height: 100vh;
		width: 100vw;
		padding: 0;
		border-radius: 0;
	}
}
