.container{
    background-color: #01161E;
    color:#EFF6E0;
    height:100vh;
    display: flex;
    z-index: 100;
    flex-direction: column;
    justify-content: center;
    box-shadow:0px 0px 24px 2px rgba(0,0,0,0.3);
}
.widthcontroller{
    position: relative;
    grid-area: sidebar;
    transition:width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.fullwidth{
    /* width: clamp(300px,25vw,400px); */
    transition:width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.navactive{
    transform:translateX(0) !important;
    transition:transform 1s cubic-bezier(0.165,0.84,0.44,1);
}
.links{
    flex:1;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topnavbarcontainer{
    grid-area:navbar;
    box-shadow:0px 0px 24px 2px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap:10px;
}
.offlineSlider{
    position:absolute;
    right:10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.backbutton{
    padding:2px;
    height:40px;
    font-size:x-large;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.backbutton:hover{
    cursor: pointer;
    background-color: lightgray;
}

.burgermenu,
.burgermenu::after,
.burgermenu::before{
    width:2em;
    height:2px;
    content:"";
    position: relative;
    background-color: black;
}
.burgermenu::before{
    position:absolute;
    bottom:10px;
}
.burgermenu::after{
    position:absolute;
    top:10px;
}

.bmcontainer{
    display: flex;
    flex-direction: column;
    aspect-ratio: 1;
    
    justify-content: space-evenly;
    align-items: center;
    padding:2px;
    border-radius: 5px;
    height:40px;
}
.bmcontainer:hover{
    cursor: pointer;
    background-color: lightgray;
}
.auth{
    justify-self: flex-end;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:10px;
    padding:10px;
}
.auth>*{
    height:3em;
    width: 80%;
    justify-content: space-between;
    padding:3px;
    box-sizing: border-box;
    border-radius: 25px;
}
.auth>*:nth-child(2):hover{
    background-color: rgb(54, 62, 88);
}

.auth>*:nth-child(2){
    background-color: rgb(44, 51, 73);

    cursor: pointer;
    justify-content: center;
    gap:20px
}
.menuIcon{
    align-items: center;
    display: flex;
    margin:20px;
    box-sizing: border-box;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    z-index:100;
}
.logo>img{
    height:auto;
    max-width: 60%;
}
.logo{
    height:200px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.moreButton{
    color:white
}
.logout{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: large;
}


   
@media only screen and (max-width:800px) {
    .backbutton{
        color:#EFF6E0
    }
    .logo>img{
        max-width: 40%;

    }
    .logo{
        height:200px
    }
    .offlineSlider{
        color:#EFF6E0
    }
    .widthcontroller{
        position: absolute;
        top:0;
        height:100vh;
        width:0vw;
        z-index: 300;
        left:0;
        
    
    }
    .fullwidth{
        width:100vw;
        
    }
    .bmcontainer{
        z-index: 1000;
    }
    .breadcrumbs{
        color:white !important
    }
    .lastBreadcrumb{
        color:rgb(206, 206, 206) !important
    }
    .container{
        transform:translateX(-100%);
        width:100vw;
        overflow:hidden;
        transition:transform 1s cubic-bezier(0.165,0.84,0.44,1);

    }
    .burgermenu,
    .burgermenu::after,
    .burgermenu::before{
        background-color: #EFF6E0;
    }
    .topnavbarcontainer{
        background-color: #01161E;
    }

}