.container{
    background-color: #01161E;
    color:#EFF6E0;
    height:100%;
    display: flex;
    z-index: 100;
    flex-direction: column;
    justify-content: center;
    transform:translateX(-100%);
    box-shadow:0px 0px 24px 2px rgba(0,0,0,0.3);
    transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1),width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.widthcontroller{
    grid-area: sidebar;
    transition:width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.fullwidth{
    /* width: clamp(300px,25vw,400px); */
    transition:width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.navactive{
    transform:translateX(0);
    transition:transform 1s cubic-bezier(0.165,0.84,0.44,1);
}
.links{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topnavbarcontainer{
    grid-area:navbar;
    box-shadow:0px 0px 24px 2px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap:10px;
}
.offlineSlider{
    position:absolute;
    right:10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.backbutton{
    padding:2px;
    height:40px;
    font-size:x-large;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.backbutton:hover{
    cursor: pointer;
    background-color: lightgray;
}

.burgermenu,
.burgermenu::after,
.burgermenu::before{
    width:2em;
    height:2px;
    content:"";
    position: relative;
    background-color: black;
}
.burgermenu::before{
    position:absolute;
    bottom:10px;
}
.burgermenu::after{
    position:absolute;
    top:10px;
}

.bmcontainer{
    display: flex;
    flex-direction: column;
    aspect-ratio: 1;
    
    justify-content: space-evenly;
    align-items: center;
    padding:2px;
    border-radius: 5px;
    height:40px;
}
.bmcontainer:hover{
    cursor: pointer;
    background-color: lightgray;
}
.auth{
    position: absolute;
    display: flex;
    flex-direction: row;
    padding:10px;
    bottom:10px;
    left:50%;
    transform:translateX(-50%)
}
.menuIcon{
    align-items: center;
    display: flex;
    margin:20px;
    box-sizing: border-box;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    z-index:100;
}


   
@media only screen and (max-width:800px) {
    .backbutton{
        color:#EFF6E0
    }
    .offlineSlider{
        color:#EFF6E0
    }
    .widthcontroller{
        width:0;
        transition:none;
    }
    .fullwidth{
        width:0;
        transition:none
    }
    .bmcontainer{
        z-index: 1000;
    }
    .breadcrumbs{
        color:white !important
    }
    .lastBreadcrumb{
        color:rgb(206, 206, 206) !important
    }
    .container{
    }
    .burgermenu,
    .burgermenu::after,
    .burgermenu::before{
        background-color: #EFF6E0;
    }
    .topnavbarcontainer{
        background-color: #01161E;
    }

}