.table{
    flex:1;
    height:calc(100vh - 50px - 20px)
}
.interactions{
    position:absolute;
    bottom:10px;
    right:10px;
    display: flex;
    flex-direction: row;
    gap:15px;
    z-index:3
}

.objektauswahl{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:250px;
    position:absolute;
    transform: translate(-100%,-100%);
    left:80%;
    top:-40%;
    background-color: white;
    padding:20px;
    border-radius: 15px;
    gap:10px;
    box-shadow:0px 0px 24px 2px rgba(0,0,0,0.3);
}
.offlineDiv{
    flex-grow:1;
    height:calc(100vh - 50px);
    padding:30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offlineDiv_inside{
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow:0px 0px 24px 2px rgba(0,0,0,0.3);
    border-radius: 15px;    
}
.loadingspinner{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%
}