.App {
  text-align: center;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}

.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#000;
  stroke-width:2.5;
  stroke-linecap:round;
}
@media only screen and (max-width:800px) {
  
  .line{
    stroke:aliceblue
  }
  .ham:hover .line{
    stroke:#000
  }
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.selectElement{
  border:none;
  padding:5px;
  border-radius: 10px;
  background-color: transparent;
}
.selectElement:hover{
  cursor: pointer;
}
.adressDivDiv{
  display: flex;
  flex-direction: row;
  gap:5px
}
.adressDiv{
  display: flex;
  flex-direction: column;
  gap:5px
}
.adressDiv-straße{
  flex:9
}
.adressDiv-hausnummer{
  flex:3
}
.adressDiv-plz{
  flex:5
}
.adressDiv-ort{
  flex:7
}
.fullscreen-center{
  width: 100vw;
  height:100vh;
  display: grid;
  place-items: center;
}

.rcs-inner-handle{
  

}
@media only screen and (min-width:1450px) {
  .adressDiv{
    flex-direction: row;
  }
}