@font-face {
  font-family: 'Quicksand';
  src: url('/src/config/Quicksand-VariableFont_wght.ttf');
}
*{
  transition:  cubic-bezier(0.075, 0.82, 0.165, 1) 0,5s;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Quicksand;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#bardeen-root{
  display:none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
